# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data
data/raw/*
data/processed/*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db