# Python
__pycache__/
*.py[cod]
*.pyd

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Data
data/raw/*
data/processed/*

# Power BI temporary files
*.pbit
~$*.pbix

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db